* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; /* Fixed the '0' and added fallbacks */
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    min-height: 100%;
    width: 100%;
    background-color: black;
    display : flex;
    align-items: center;
    justify-content: center;
}

.card{
    height : 200px;
    width : 500px;
    background-color:white;
    border-radius: 10px;
    padding: 30px;
}

.card p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.card span{
    font-weight: 600;
    color: royalblue;
}

.outer{
    height: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(185, 184, 184);
}

.inner{
    height:100%;
    width: 5%;
    border-radius: 50px;
    background-color: green;
}

.bottom{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top:20px;
}

.bottom h2{
    font-size: 50px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    cursor:pointer;
}

.bottom button:active{
    scale: 0.95;
}
