* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; /* Fixed the '0' and added fallbacks */
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    min-height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 20px;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position : relative;
    z-index: 10;
}

button:active{
    scale : 0.95;
}

h1{
    color: aliceblue;
    font-size: medium;
}